<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="com.sample.protobuff.domain"/>
	</typeAliases>
    <mappers>
        <mapper resource="mybatis/sampleMapper.xml"/>
    </mappers>
</configuration>